/*#<!--
demo4.2 specific css


-->*/

    div.svgbasics { width: 1000px; height: 1050px; float:left }
    div.yourdiv { width: 1000px; height: 200px;}
    div.controls { width:1000px; height:100px; background: red; border: 1px solid #484}
    table.tb { }
    button.bt {  }
    td.notify { width: 400px; height: 60px; background: #F2EAE3 }
    div.menuDiv {  
	display:none; 
	position:absolute;  
	top:150px;  
	left:50%;  
	margin-left:35px;  
	width:200px;  
    }  
    .hiddenIframe {
    position:absolute;
    top:0px;
    left:0px;
    display:block;
    z-index:-999;
    visibility:hidden;
    }


