/*#<!--
demo4.2 specific css


-->*/

    div.svgbasics { width: 1000px; height: 1050px; float:left }
    div.yourdiv { width: 1000px; height: 200px;}
    div.controls { width:1000px; height:100px; background: red; border: 1px solid #484}
    table.tb { }
    button.bt {  }
    td.notify {
	width: 240px; 
	height: 30px; 
	background: #F2EAE3 ;
	color:	#000000; /*ZNYX text color */
	font-family:"Verdana", "Arial", sans-serif;  /* changed font */
	font-size: 10px;
    }
    th.notify {
	color:	#000000; /*ZNYX text color */
	font-family:"Verdana", "Arial", sans-serif;  /* changed font */
	font-size: 10px;
    }
    div.menuDiv {  
	display:none; 
	position:absolute;  
	top:150px;  
	left:50%;  
	margin-left:35px;  
	width:200px;  
    }  
    div.menuHeadDiv {  
	display:block; 
	position:absolute;  
	top:50px;  
	left:10px;  
	margin-left:35px;  
	width:800px;  
    }
    div.mytitle {  
	display:block; 
	position:relative;  
	top:5px;  
	left:50px;    
	width:100%;  
    }
    .hiddenIframe {
    position:absolute;
    top:0px;
    left:0px;
    display:block;
    z-index:-999;
    visibility:hidden;
    }


